.env
pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.whl
*__pycache__*
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.log
venv/
env/
.coverage
coverage.xml
nosetests.xml
*.cover
*.bak
*.swp
*~
input.xlsx
input.json